<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %> 
    <main class="fade-in">
        <div class="text-center">
            <h1>Log In to Your Account</h1>
            <p>Enter your credentials to access your blog dashboard and start writing.</p>
        </div>
        
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul class="error-messages">
            <% errors.forEach(function(error) { %>
                <li><%= error %></li>
            <% }); %>
            </ul>
        <% } %>
        
        <form action="/login" method="POST">
            <fieldset>
                <legend>Login Credentials</legend>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Enter your username">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Enter your password">

                <div class="form-buttons">
                    <button type="submit">Log In</button>
                </div>
            </fieldset>
        </form>

        <div class="text-center">
            <p>Don't have an account? <a href="/">Sign up here</a></p>
        </div>
    </main>
    <%- include('includes/footer.ejs') %>
</body>
</html>