<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %> 
    <main>
        <h1>Log In to Your Account</h1>
        <p>Enter your credentials to access your blog dashboard.</p>
        
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul class="error-messages">
            <% errors.forEach(function(error) { %>
                <li><%= error %></li>
            <% }); %>
            </ul>
        <% } %>
        
        <form action="/login" method="POST">
            <fieldset>
                <legend>Login Credentials</legend>
                <label for="username"><small>Username:</small></label>
                <input type="text" id="username" name="username" required>

                <label for="password"><small>Password:</small></label>
                <input type="password" id="password" name="password" required>
                <br>

                <button type="submit">Log In</button>
            </fieldset>
        </form>

        <p>Don't have an account? <a href="/">Sign up here</a></p>
    </main>
    <%- include('includes/footer.ejs') %>
</body>
</html>